<a href="https://colab.research.google.com/github/sdam-au/PHI_ETL/blob/master/scripts/1_1_py_PHI_EXTRACTION_FROM_ZIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
!pip install sddk --ignore-installed
import sddk

Collecting sddk
  Using cached https://files.pythonhosted.org/packages/e1/66/d630106ba925f374c477c489c0b955e64d253e3cf9614cf36185b3fb1bf5/sddk-2.4-py3-none-any.whl
Collecting requests
  Using cached https://files.pythonhosted.org/packages/1a/70/1935c770cb3be6e3a8b78ced23d7e0f3b187f5cbfab4749523ed65d7c9b1/requests-2.23.0-py2.py3-none-any.whl
Collecting matplotlib
  Using cached https://files.pythonhosted.org/packages/93/4b/52da6b1523d5139d04e02d9e26ceda6146b48f2a4e5d2abfdf1c7bac8c40/matplotlib-3.2.1-cp36-cp36m-manylinux1_x86_64.whl
Collecting pyarrow>=0.17.0
  Using cached https://files.pythonhosted.org/packages/ba/3f/6cac1714fff444664603f92cb9fbe91c7ae25375880158b9e9691c4584c8/pyarrow-0.17.1-cp36-cp36m-manylinux2014_x86_64.whl
Collecting idna<3,>=2.5
  Using cached https://files.pythonhosted.org/packages/89/e3/afebe61c546d18fb1709a61bee788254b40e736cff7271c7de5de2dc4128/idna-2.9-py2.py3-none-any.whl
Collecting certifi>=2017.4.17
  Using cached https://files.pythonhosted.org/packages/57/2b/26e37a4b034800c960a00c4e1b3d9ca5d7014e983e6e729e33ea2f36426c/certifi-2020.4.5.1-py2.py3-none-any.whl
Collecting chardet<4,>=3.0.2
  Using cached https://files.pythonhosted.org/packages/bc/a9/01ffebfb562e4274b6487b4bb1ddec7ca55ec7510b22e4c51f14098443b8/chardet-3.0.4-py2.py3-none-any.whl
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Using cached https://files.pythonhosted.org/packages/e1/e5/df302e8017440f111c11cc41a6b432838672f5a70aa29227bf58149dc72f/urllib3-1.25.9-py2.py3-none-any.whl
Collecting numpy>=1.11
  Using cached https://files.pythonhosted.org/packages/03/27/e35e7c6e6a52fab9fcc64fc2b20c6b516eba930bb02b10ace3b38200d3ab/numpy-1.18.4-cp36-cp36m-manylinux1_x86_64.whl
Collecting kiwisolver>=1.0.1
  Using cached https://files.pythonhosted.org/packages/ae/23/147de658aabbf968324551ea22c0c13a00284c4ef49a77002e91f79657b7/kiwisolver-1.2.0-cp36-cp36m-manylinux1_x86_64.whl
Collecting python-dateutil>=2.1
  Using cached https://files.pythonhosted.org/packages/d4/70/d60450c3dd48ef87586924207ae8907090de0b306af2bce5d134d78615cb/python_dateutil-2.8.1-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
  Using cached https://files.pythonhosted.org/packages/8a/bb/488841f56197b13700afd5658fc279a2025a39e22449b7cf29864669b15d/pyparsing-2.4.7-py2.py3-none-any.whl
Collecting cycler>=0.10
  Using cached https://files.pythonhosted.org/packages/f7/d2/e07d3ebb2bd7af696440ce7e754c59dd546ffe1bbe732c8ab68b9c834e61/cycler-0.10.0-py2.py3-none-any.whl
Collecting six>=1.5
  Using cached https://files.pythonhosted.org/packages/65/eb/1f97cb97bfc2390a276969c6fae16075da282f5058082d4cb10c6c5c1dba/six-1.14.0-py2.py3-none-any.whl
ERROR: kaggle 1.5.6 has requirement urllib3<1.25,>=1.21.1, but you'll have urllib3 1.25.9 which is incompatible.
ERROR: google-colab 1.0.0 has requirement six~=1.12.0, but you'll have six 1.14.0 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: idna, certifi, chardet, urllib3, requests, numpy, kiwisolver, six, python-dateutil, pyparsing, cycler, matplotlib, pyarrow, sddk
Successfully installed certifi-2020.4.5.1 chardet-3.0.4 cycler-0.10.0 idna-2.9 kiwisolver-1.2.0 matplotlib-3.2.1 numpy-1.18.4 pyarrow-0.17.1 pyparsing-2.4.7 python-dateutil-2.8.1 requests-2.23.0 sddk-2.4 six-1.14.0 urllib3-1.25.9

In [0]:
import numpy as np
import math
import pandas as pd

import sys
### we do a lot of requests during the scrapping. Some of them with requests package, some of them with urllib
import requests
from urllib.request import urlopen 
from urllib.parse import quote  
from bs4 import BeautifulSoup
import xml.etree.cElementTree as ET

import zipfile
import io

# to avoid errors, we sometime use time.sleep(N) before retrying a request
import time
# the input data have typically a json structure
import json
import getpass

import datetime as dt
# for simple paralel computing:
from concurrent.futures import ThreadPoolExecutor

In [12]:
conf = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ··········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

# Extract the data from a zipfile on sciencedata.dk

In [0]:
### to get the zip file into a response
response = conf[0].get(conf[1] + "SDAM_data/PHI/PHI_Petra.zip")

In [0]:
### check that the response is functional
response

In [0]:
%%time
zipped = zipfile.ZipFile(io.BytesIO(response.content))

CPU times: user 29.1 ms, sys: 3.7 ms, total: 32.8 ms
Wall time: 37.7 ms

In [0]:
# how many files we have?
namelist = zipped.namelist()[1:] ### index "0" is for main directory
len(namelist)

3363

In [0]:
namelist = [name for name in namelist if not "._" in name]
namelist = [name for name in namelist if  ".csv" in name]
namelist = [name for name in namelist if  "output_parsed" in name]

len(namelist)

743

In [0]:
namelist[:100]

['PHI/output_parsed/Clinton--Sacred-Officials.csv',
 'PHI/output_parsed/Clara-Rhodos.csv',
 'PHI/output_parsed/ClRev.csv',
 'PHI/output_parsed/Christol-Drew-Bear--Castellum-rom..csv',
 'PHI/output_parsed/Chiron.csv',
 'PHI/output_parsed/Chios.csv',
 'PHI/output_parsed/Chaniotis--Vertr-ge.csv',
 'PHI/output_parsed/Cesnola--Cyprus.csv',
 'PHI/output_parsed/CahArch.csv',
 'PHI/output_parsed/Cabanes--L--pire.csv',
 'PHI/output_parsed/CSCA.csv',
 'PHI/output_parsed/CRAI.csv',
 'PHI/output_parsed/CPh.csv',
 'PHI/output_parsed/CIRB.csv',
 'PHI/output_parsed/CIL-III.csv',
 'PHI/output_parsed/CIJud.-II.csv',
 'PHI/output_parsed/CIG.csv',
 'PHI/output_parsed/CID.csv',
 'PHI/output_parsed/CEG.csv',
 'PHI/output_parsed/CCET.csv',
 'PHI/output_parsed/ByzantologSynedr-9-1953.csv',
 'PHI/output_parsed/Byzantion.csv',
 'PHI/output_parsed/Buresch--Aus-Lydien.csv',
 'PHI/output_parsed/Budde--Ant.Mosaiken-I.csv',
 'PHI/output_parsed/Brun-mid--Inschriften.csv',
 'PHI/output_parsed/Brixhe--Dial.gr.Pamph..csv',
 'PHI/output_parsed/Breccia--Alexandria-Mus..csv',
 'PHI/output_parsed/Bosnakis--Epigraphes.csv',
 'PHI/output_parsed/Bosch--Quellen-Ankara.csv',
 'PHI/output_parsed/BollArte.csv',
 'PHI/output_parsed/Boesch--Theoros.csv',
 'PHI/output_parsed/Blaundos.csv',
 'PHI/output_parsed/Bile--Dialecte.csv',
 'PHI/output_parsed/Bettarini--Defixiones.csv',
 'PHI/output_parsed/Berytus.csv',
 'PHI/output_parsed/Bernand--Mus.-du-Louvre.csv',
 'PHI/output_parsed/Bernand--Inscr.-M-tr..csv',
 'PHI/output_parsed/Benndorf-Niemann--Reisen-I.csv',
 'PHI/output_parsed/Benndorf-Niemann--Heroon.csv',
 'PHI/output_parsed/Belleten.csv',
 'PHI/output_parsed/Bees--Inschriftenaufzeichnung.csv',
 'PHI/output_parsed/Bean-Mitford--Journeys-1964-68.csv',
 'PHI/output_parsed/Bean-Mitford--Journeys-1962-63.csv',
 'PHI/output_parsed/Bean--Journeys-1965-1967.csv',
 'PHI/output_parsed/BdI.csv',
 'PHI/output_parsed/BasZeit.csv',
 'PHI/output_parsed/Bargylia.csv',
 'PHI/output_parsed/Bandy.csv',
 'PHI/output_parsed/BSAF.csv',
 'PHI/output_parsed/BSAAlex.csv',
 'PHI/output_parsed/BPhW.csv',
 'PHI/output_parsed/BP.csv',
 'PHI/output_parsed/BNGJ.csv',
 'PHI/output_parsed/BMusImp.csv',
 'PHI/output_parsed/BMBeyrouth.csv',
 'PHI/output_parsed/BE.csv',
 'PHI/output_parsed/BCH.csv',
 'PHI/output_parsed/BCH-Suppl..csv',
 'PHI/output_parsed/BASP.csv',
 'PHI/output_parsed/BABesch.csv',
 'PHI/output_parsed/Axenidis--Pelasgis-Larisa.csv',
 'PHI/output_parsed/AvP-VII-2.csv',
 'PHI/output_parsed/AvP-II.csv',
 'PHI/output_parsed/Audollent--Defix.-Tab..csv',
 'PHI/output_parsed/Attouda.csv',
 'PHI/output_parsed/Ath-naion.csv',
 'PHI/output_parsed/Ath-na.csv',
 'PHI/output_parsed/Ath-na-ka.csv',
 'PHI/output_parsed/Asdracha--Inscr.-Byz..csv',
 'PHI/output_parsed/Archaeology.csv',
 'PHI/output_parsed/ArchPap.csv',
 'PHI/output_parsed/ArchIug.csv',
 'PHI/output_parsed/ArchEph.csv',
 'PHI/output_parsed/ArchCl.csv',
 'PHI/output_parsed/ArchByzMnHell.csv',
 'PHI/output_parsed/Arch.-Epigr.-Thessalonikes.csv',
 'PHI/output_parsed/Apollonia-Salbake.csv',
 'PHI/output_parsed/Aphrodisias.csv',
 'PHI/output_parsed/AnzWien.csv',
 'PHI/output_parsed/Antonin--Poiezdka.csv',
 'PHI/output_parsed/Antich.-Ist.-i-Kult..csv',
 'PHI/output_parsed/Anth.Gr..csv',
 'PHI/output_parsed/AntTard.csv',
 'PHI/output_parsed/AntKunst.csv',
 'PHI/output_parsed/AntCl.csv',
 'PHI/output_parsed/Ann-p.csv',
 'PHI/output_parsed/Andronikos--Vergina.csv',
 'PHI/output_parsed/Ancient-Cos.csv',
 'PHI/output_parsed/Anc.-Macedonia.csv',
 'PHI/output_parsed/AnalBoll.csv',
 'PHI/output_parsed/AnIsl.csv',
 'PHI/output_parsed/Amyzon.csv',
 'PHI/output_parsed/Amnisos.csv',
 'PHI/output_parsed/Alt.v.Hierapolis.csv',
 'PHI/output_parsed/Alt.-von-Aegae.csv',
 'PHI/output_parsed/Aleshire--Ath.-Asklepieion.csv',
 'PHI/output_parsed/Albania.csv',
 'PHI/output_parsed/Albania-Antica-3.csv',
 'PHI/output_parsed/Albania-Antica-2.csv',
 'PHI/output_parsed/Albania-Antica-1.csv']

# Test with one file

In [0]:
test = pd.read_csv(io.BytesIO(zipped.read("PHI/output_parsed/CEG.csv")))

In [0]:
test.head()

                                                 URL  ... other_info_4
0  /text/328151?location=1&patt=&bookid=303&offse...  ...          NaN
1  /text/328152?location=1&patt=&bookid=303&offse...  ...          NaN
2  /text/328153?location=1&patt=&bookid=303&offse...  ...          NaN
3  /text/328154?location=1&patt=&bookid=303&offse...  ...          NaN
4  /text/328155?location=1&patt=&bookid=303&offse...  ...   SEG 15.325

[5 rows x 20 columns]

# Extracting the whole dataset

In [0]:
dfs = []
for filename in namelist:
  df = pd.read_csv(io.BytesIO(zipped.read(filename)))
  dfs.append(df)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
dfs = pd.concat(dfs)
dfs.shape

(214995, 25)

In [0]:
### so let look at what is somewhere in the middle...
dfs.iloc[10000:10005]

                                                  URL  ... file:///home/petra/.config/libreoffice/4;
55  /text/256730?location=1040&patt=&bookid=482&bo...  ...                                       NaN
56  /text/256731?location=1040&patt=&bookid=482&of...  ...                                       NaN
57  /text/256732?location=1040&patt=&bookid=482&of...  ...                                       NaN
58  /text/256733?location=1040&patt=&bookid=482&of...  ...                                       NaN
59  /text/256734?location=1040&patt=&bookid=482&of...  ...                                       NaN

[5 rows x 25 columns]

In [0]:
# what are the columns?
dfs.columns

Index(['URL', 'Book', 'Text', 'hdr1', 'hdr2', 'tildeinfo', 'note', 'lines',
       'metadata', 'data', 'region', 'stoich', 'sinistr', 'subregion', 'date',
       'other_info_0', 'other_info_1', 'other_info_2', 'other_info_3',
       'other_info_4', 'Unnamed: 0', 'petra', 'X260', '17.12.2019 16:59',
       'file:///home/petra/.config/libreoffice/4;'],
      dtype='object')

In [0]:
# ok, some of these columns are probably useless
# check what contain
dfs["file:///home/petra/.config/libreoffice/4;"].unique().tolist()

[nan]

In [0]:
dfs["X260"].unique()

array([nan], dtype=object)

In [0]:
dfs["17.12.2019 16:59"].unique()

array([nan], dtype=object)

In [0]:
dfs.reset_index(inplace=True)

In [0]:
# remove the strange columns
dfs.drop(['Unnamed: 0', 'petra', 'X260', '17.12.2019 16:59',
       'file:///home/petra/.config/libreoffice/4;', 'level_0', 'index'], axis=1, inplace=True)

In [0]:
dfs.head(5)

                                                 URL  ... other_info_4
0  /text/237766?location=7&patt=&bookid=409&booki...  ...          NaN
1  /text/237767?location=7&patt=&bookid=409&booki...  ...          NaN
2  /text/237768?location=7&patt=&bookid=409&booki...  ...          NaN
3  /text/237769?location=7&patt=&bookid=409&booki...  ...          NaN
4  /text/237770?location=7&patt=&bookid=409&booki...  ...          NaN

[5 rows x 20 columns]

In [0]:
sddk.write_file("SDAM_data/PHI/PHI_merged.json", dfs, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_merged.json"

In [0]:
# produce a sample:
sddk.write_file("SDAM_data/PHI/PHI_sample.json", dfs[:10000], conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_sample.json"

# Reading the files back and correcting encoding

In [0]:
PHI = sddk.read_file("SDAM_data/PHI/PHI_merged.json", "df", conf)

In [34]:
### there was an update in the sddk package, which now manages encoding on its own
sddk.write_file("SDAM_data/PHI/PHI_sample_utf8.json", PHI[:10000], conf)

A file with the same name ("PHI_sample_utf8.json") already exists in this location.
Press Enter to overwrite it or choose different path and filename:
Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_sample_utf8.json"

In [37]:
### and now do the same with the whole dataset
sddk.write_file("SDAM_data/PHI/PHI_merged_utf8.json", PHI, conf)

A file with the same name ("PHI_merged_utf8.json") already exists in this location.
Press Enter to overwrite it or choose different path and filename:
Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_merged_utf8.json"

# Testing: reading sample digested by R by to Python

In [36]:
# reading the json processed in R back to Python:
PHI_sample = sddk.read_file("SDAM_data/PHI/PHI_tibble.json", "df", conf)
PHI_sample.head(5)

                                                 URL  ... other_info_4
0  [/text/237766?location=7&patt=&bookid=409&book...  ...           {}
1  [/text/237767?location=7&patt=&bookid=409&book...  ...           {}
2  [/text/237768?location=7&patt=&bookid=409&book...  ...           {}
3  [/text/237769?location=7&patt=&bookid=409&book...  ...           {}
4  [/text/237770?location=7&patt=&bookid=409&book...  ...           {}

[5 rows x 20 columns]