<a href="https://colab.research.google.com/github/sdam-au/PHI_ETL/blob/master/scripts/1_1_py_PHI_EXTRACTION_FROM_ZIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import math
import pandas as pd

import sys
### we do a lot of requests during the scrapping. Some of them with requests package, some of them with urllib
import requests
from urllib.request import urlopen 
from urllib.parse import quote  
from bs4 import BeautifulSoup
import xml.etree.cElementTree as ET

import zipfile
import io

# to avoid errors, we sometime use time.sleep(N) before retrying a request
import time
# the input data have typically a json structure
import json
import getpass

import datetime as dt
# for simple paralel computing:
from concurrent.futures import ThreadPoolExecutor

In [0]:
!pip install sddk --upgrade
import sddk

In [3]:
conf = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ··········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

# Extract the data from a zipfile on sciencedata.dk

In [0]:
### to get the zip file into a response
response = conf[0].get(conf[1] + "SDAM_data/PHI/PHI_Petra.zip")

In [0]:
### check that the response is functional
response

In [0]:
%%time
zipped = zipfile.ZipFile(io.BytesIO(response.content))

CPU times: user 29.1 ms, sys: 3.7 ms, total: 32.8 ms
Wall time: 37.7 ms

In [0]:
# how many files we have?
namelist = zipped.namelist()[1:] ### index "0" is for main directory
len(namelist)

3363

In [0]:
namelist = [name for name in namelist if not "._" in name]
namelist = [name for name in namelist if  ".csv" in name]
namelist = [name for name in namelist if  "output_parsed" in name]

len(namelist)

743

In [0]:
namelist[:100]

['PHI/output_parsed/Clinton--Sacred-Officials.csv',
 'PHI/output_parsed/Clara-Rhodos.csv',
 'PHI/output_parsed/ClRev.csv',
 'PHI/output_parsed/Christol-Drew-Bear--Castellum-rom..csv',
 'PHI/output_parsed/Chiron.csv',
 'PHI/output_parsed/Chios.csv',
 'PHI/output_parsed/Chaniotis--Vertr-ge.csv',
 'PHI/output_parsed/Cesnola--Cyprus.csv',
 'PHI/output_parsed/CahArch.csv',
 'PHI/output_parsed/Cabanes--L--pire.csv',
 'PHI/output_parsed/CSCA.csv',
 'PHI/output_parsed/CRAI.csv',
 'PHI/output_parsed/CPh.csv',
 'PHI/output_parsed/CIRB.csv',
 'PHI/output_parsed/CIL-III.csv',
 'PHI/output_parsed/CIJud.-II.csv',
 'PHI/output_parsed/CIG.csv',
 'PHI/output_parsed/CID.csv',
 'PHI/output_parsed/CEG.csv',
 'PHI/output_parsed/CCET.csv',
 'PHI/output_parsed/ByzantologSynedr-9-1953.csv',
 'PHI/output_parsed/Byzantion.csv',
 'PHI/output_parsed/Buresch--Aus-Lydien.csv',
 'PHI/output_parsed/Budde--Ant.Mosaiken-I.csv',
 'PHI/output_parsed/Brun-mid--Inschriften.csv',
 'PHI/output_parsed/Brixhe--Dial.gr.Pamph..csv',
 'PHI/output_parsed/Breccia--Alexandria-Mus..csv',
 'PHI/output_parsed/Bosnakis--Epigraphes.csv',
 'PHI/output_parsed/Bosch--Quellen-Ankara.csv',
 'PHI/output_parsed/BollArte.csv',
 'PHI/output_parsed/Boesch--Theoros.csv',
 'PHI/output_parsed/Blaundos.csv',
 'PHI/output_parsed/Bile--Dialecte.csv',
 'PHI/output_parsed/Bettarini--Defixiones.csv',
 'PHI/output_parsed/Berytus.csv',
 'PHI/output_parsed/Bernand--Mus.-du-Louvre.csv',
 'PHI/output_parsed/Bernand--Inscr.-M-tr..csv',
 'PHI/output_parsed/Benndorf-Niemann--Reisen-I.csv',
 'PHI/output_parsed/Benndorf-Niemann--Heroon.csv',
 'PHI/output_parsed/Belleten.csv',
 'PHI/output_parsed/Bees--Inschriftenaufzeichnung.csv',
 'PHI/output_parsed/Bean-Mitford--Journeys-1964-68.csv',
 'PHI/output_parsed/Bean-Mitford--Journeys-1962-63.csv',
 'PHI/output_parsed/Bean--Journeys-1965-1967.csv',
 'PHI/output_parsed/BdI.csv',
 'PHI/output_parsed/BasZeit.csv',
 'PHI/output_parsed/Bargylia.csv',
 'PHI/output_parsed/Bandy.csv',
 'PHI/output_parsed/BSAF.csv',
 'PHI/output_parsed/BSAAlex.csv',
 'PHI/output_parsed/BPhW.csv',
 'PHI/output_parsed/BP.csv',
 'PHI/output_parsed/BNGJ.csv',
 'PHI/output_parsed/BMusImp.csv',
 'PHI/output_parsed/BMBeyrouth.csv',
 'PHI/output_parsed/BE.csv',
 'PHI/output_parsed/BCH.csv',
 'PHI/output_parsed/BCH-Suppl..csv',
 'PHI/output_parsed/BASP.csv',
 'PHI/output_parsed/BABesch.csv',
 'PHI/output_parsed/Axenidis--Pelasgis-Larisa.csv',
 'PHI/output_parsed/AvP-VII-2.csv',
 'PHI/output_parsed/AvP-II.csv',
 'PHI/output_parsed/Audollent--Defix.-Tab..csv',
 'PHI/output_parsed/Attouda.csv',
 'PHI/output_parsed/Ath-naion.csv',
 'PHI/output_parsed/Ath-na.csv',
 'PHI/output_parsed/Ath-na-ka.csv',
 'PHI/output_parsed/Asdracha--Inscr.-Byz..csv',
 'PHI/output_parsed/Archaeology.csv',
 'PHI/output_parsed/ArchPap.csv',
 'PHI/output_parsed/ArchIug.csv',
 'PHI/output_parsed/ArchEph.csv',
 'PHI/output_parsed/ArchCl.csv',
 'PHI/output_parsed/ArchByzMnHell.csv',
 'PHI/output_parsed/Arch.-Epigr.-Thessalonikes.csv',
 'PHI/output_parsed/Apollonia-Salbake.csv',
 'PHI/output_parsed/Aphrodisias.csv',
 'PHI/output_parsed/AnzWien.csv',
 'PHI/output_parsed/Antonin--Poiezdka.csv',
 'PHI/output_parsed/Antich.-Ist.-i-Kult..csv',
 'PHI/output_parsed/Anth.Gr..csv',
 'PHI/output_parsed/AntTard.csv',
 'PHI/output_parsed/AntKunst.csv',
 'PHI/output_parsed/AntCl.csv',
 'PHI/output_parsed/Ann-p.csv',
 'PHI/output_parsed/Andronikos--Vergina.csv',
 'PHI/output_parsed/Ancient-Cos.csv',
 'PHI/output_parsed/Anc.-Macedonia.csv',
 'PHI/output_parsed/AnalBoll.csv',
 'PHI/output_parsed/AnIsl.csv',
 'PHI/output_parsed/Amyzon.csv',
 'PHI/output_parsed/Amnisos.csv',
 'PHI/output_parsed/Alt.v.Hierapolis.csv',
 'PHI/output_parsed/Alt.-von-Aegae.csv',
 'PHI/output_parsed/Aleshire--Ath.-Asklepieion.csv',
 'PHI/output_parsed/Albania.csv',
 'PHI/output_parsed/Albania-Antica-3.csv',
 'PHI/output_parsed/Albania-Antica-2.csv',
 'PHI/output_parsed/Albania-Antica-1.csv']

# Test with one file

In [0]:
test = pd.read_csv(io.BytesIO(zipped.read("PHI/output_parsed/CEG.csv")))

In [0]:
test.head()

                                                 URL  ... other_info_4
0  /text/328151?location=1&patt=&bookid=303&offse...  ...          NaN
1  /text/328152?location=1&patt=&bookid=303&offse...  ...          NaN
2  /text/328153?location=1&patt=&bookid=303&offse...  ...          NaN
3  /text/328154?location=1&patt=&bookid=303&offse...  ...          NaN
4  /text/328155?location=1&patt=&bookid=303&offse...  ...   SEG 15.325

[5 rows x 20 columns]

# Extracting the whole dataset

In [0]:
dfs = []
for filename in namelist:
  df = pd.read_csv(io.BytesIO(zipped.read(filename)))
  dfs.append(df)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (11,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
dfs = pd.concat(dfs)
dfs.shape

(214995, 25)

In [0]:
### so let look at what is somewhere in the middle...
dfs.iloc[10000:10005]

                                                  URL  ... file:///home/petra/.config/libreoffice/4;
55  /text/256730?location=1040&patt=&bookid=482&bo...  ...                                       NaN
56  /text/256731?location=1040&patt=&bookid=482&of...  ...                                       NaN
57  /text/256732?location=1040&patt=&bookid=482&of...  ...                                       NaN
58  /text/256733?location=1040&patt=&bookid=482&of...  ...                                       NaN
59  /text/256734?location=1040&patt=&bookid=482&of...  ...                                       NaN

[5 rows x 25 columns]

In [0]:
# what are the columns?
dfs.columns

Index(['URL', 'Book', 'Text', 'hdr1', 'hdr2', 'tildeinfo', 'note', 'lines',
       'metadata', 'data', 'region', 'stoich', 'sinistr', 'subregion', 'date',
       'other_info_0', 'other_info_1', 'other_info_2', 'other_info_3',
       'other_info_4', 'Unnamed: 0', 'petra', 'X260', '17.12.2019 16:59',
       'file:///home/petra/.config/libreoffice/4;'],
      dtype='object')

In [0]:
# ok, some of these columns are probably useless
# check what contain
dfs["file:///home/petra/.config/libreoffice/4;"].unique().tolist()

[nan]

In [0]:
dfs["X260"].unique()

array([nan], dtype=object)

In [0]:
dfs["17.12.2019 16:59"].unique()

array([nan], dtype=object)

In [0]:
dfs.reset_index(inplace=True)

In [0]:
# remove the strange columns
dfs.drop(['Unnamed: 0', 'petra', 'X260', '17.12.2019 16:59',
       'file:///home/petra/.config/libreoffice/4;', 'level_0', 'index'], axis=1, inplace=True)

In [0]:
dfs.head(5)

                                                 URL  ... other_info_4
0  /text/237766?location=7&patt=&bookid=409&booki...  ...          NaN
1  /text/237767?location=7&patt=&bookid=409&booki...  ...          NaN
2  /text/237768?location=7&patt=&bookid=409&booki...  ...          NaN
3  /text/237769?location=7&patt=&bookid=409&booki...  ...          NaN
4  /text/237770?location=7&patt=&bookid=409&booki...  ...          NaN

[5 rows x 20 columns]

In [0]:
sddk.write_file("SDAM_data/PHI/PHI_merged.json", dfs, conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_merged.json"

In [0]:
# produce a sample:
sddk.write_file("SDAM_data/PHI/PHI_sample.json", dfs[:10000], conf)

Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_sample.json"

# Reading the files back and correcting encoding

In [0]:
PHI = sddk.read_file("SDAM_data/PHI/PHI_merged.json", "df", conf)

In [0]:
### there was an update in the sddk package, which now manages encoding on its own
sddk.write_file("SDAM_data/PHI/PHI_sample_utf8.json", PHI[:10000], conf)

A file with the same name ("PHI_sample_utf8.json") already exists in this location.
Press Enter to overwrite it or choose different path and filename:
Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_sample_utf8.json"

In [0]:
### and now do the same with the whole dataset
sddk.write_file("SDAM_data/PHI/PHI_merged_utf8.json", PHI, conf)

A file with the same name ("PHI_merged_utf8.json") already exists in this location.
Press Enter to overwrite it or choose different path and filename:
Your <class 'pandas.core.frame.DataFrame'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/PHI_merged_utf8.json"

# Exporting list of inscriptions

In [0]:
PHI = sddk.read_file("SDAM_data/PHI/PHI_merged.json", "df", conf)

In [5]:
inscriptions_list = [url.partition("text/")[2].partition("?")[0] for url in  PHI["URL"]]
print(inscriptions_list[:100])

['237766', '237767', '237768', '237769', '237770', '237771', '237772', '237773', '237774', '237775', '237776', '237777', '237778', '237779', '237780', '237781', '237782', '237783', '237784', '237785', '237786', '237787', '237788', '237789', '237790', '237791', '237792', '237793', '237794', '237795', '237796', '237797', '237798', '237799', '237800', '237801', '237802', '237803', '237804', '237805', '237806', '237807', '237808', '237809', '237810', '237811', '237812', '190454', '190455', '190457', '190458', '190459', '190460', '190461', '190462', '190463', '190464', '190465', '190466', '190467', '190468', '190469', '190470', '190471', '190472', '190473', '190474', '190475', '190476', '190477', '190478', '190479', '190480', '190481', '190482', '190483', '190484', '190485', '190486', '190487', '190488', '190489', '190490', '190491', '190492', '190493', '190494', '190495', '190496', '190497', '190498', '190499', '190500', '190501', '190502', '186278', '190503', '190504', '190505', '190506']

In [0]:
PHI["inscription ID"] = inscriptions_list

In [13]:
PHI.head()

                                                 URL  ... inscription ID
0  /text/237766?location=7&patt=&bookid=409&booki...  ...         237766
1  /text/237767?location=7&patt=&bookid=409&booki...  ...         237767
2  /text/237768?location=7&patt=&bookid=409&booki...  ...         237768
3  /text/237769?location=7&patt=&bookid=409&booki...  ...         237769
4  /text/237770?location=7&patt=&bookid=409&booki...  ...         237770

[5 rows x 21 columns]

In [9]:
len(inscriptions_list)

214995

In [10]:
# number of unique values
len(list(set(inscriptions_list)))

214995

In [22]:
inscriptions_list_sorted = sorted([int(ins) for ins in inscriptions_list])
print(inscriptions_list_sorted[:1000])

[1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 2219, 2220, 2221, 2222, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2230, 2231, 2232, 2233, 2234, 2235, 2236, 2237, 2238, 2239, 2240, 2241, 2242, 2243, 2244, 2245, 2246, 2247, 2248, 2249, 2250, 2251, 2252, 2253, 2254, 2255, 2256, 2257, 2258, 2259, 2260, 2261, 2262, 2263, 2264, 2265, 2266, 2267, 2268, 2269, 2270, 2271, 2272, 2273, 2274, 2275, 2276, 2277, 2278, 2279, 2280, 2281, 2282, 2283, 2284, 2285, 2286, 2287, 2288, 2289, 2290, 2291, 2292, 2293, 2294, 2295, 2296, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2312, 2313, 2314, 2315, 2316, 2317, 2318, 2319, 2320, 2321, 2322, 2323, 2324, 2325, 2326, 2327, 2328, 2329, 2330, 2331, 2332, 2333, 2334, 2335, 2336, 2337, 2338, 2339, 2340, 2341, 2342, 2343, 2344, 2345, 2346, 2347, 2348, 2349, 2350, 2351, 2352, 2353, 2354, 2355, 2356, 2357, 2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367, 2368, 2369, 2370, 2371, 2372, 2373, 2374, 2375, 2376, 2377, 2378, 2379, 2380, 2381, 2382, 2383, 2384, 2385, 2386, 2387, 2388, 2389, 2390, 2391, 2392, 2393, 2394, 2395, 2396, 2397, 2398, 2399, 2400, 2401, 2402, 2403, 2404, 2405, 2406, 2407, 2408, 2409, 2410, 2411, 2412, 2413, 2414, 2415, 2416, 2417, 2418, 2419, 2420, 2421, 2422, 2423, 2424, 2425, 2426, 2427, 2428, 2429, 2430, 2431, 2432, 2433, 2434, 2435, 2436, 2437, 2438, 2439, 2440, 2441, 2442, 2443, 2444, 2445, 2446, 2447, 2448, 2449, 2450, 2451, 2452, 2453, 2454, 2455, 2456, 2457, 2458, 2459, 2460, 2461, 2462, 2463, 2464, 2465, 2466, 2467, 2468, 2469, 2470, 2471, 2472, 2473, 2474, 2475, 2476, 2477, 2478, 2479, 2480, 2481, 2482, 2483, 2484, 2485, 2486, 2487, 2488, 2489, 2490, 2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502, 2503, 2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514, 2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525, 2526, 2527, 2528, 2529, 2530, 2531, 2532, 2533, 2534, 2535, 2536, 2537, 2538, 2539, 2540, 2541, 2542, 2543, 2544, 2545, 2546, 2547, 2548, 2549, 2550, 2551, 2552, 2553, 2554, 2555, 2556, 2557, 2558, 2559, 2560, 2561, 2562, 2563, 2564, 2565, 2566, 2567, 2568, 2569, 2570, 2571, 2572, 2573, 2574, 2575, 2576, 2577, 2578, 2579, 2580, 2581, 2582, 2583, 2584, 2585, 2586, 2587, 2588, 2589, 2590, 2591, 2592, 2593, 2594, 2595, 2596, 2597, 2598, 2599, 2600, 2601, 2602, 2603, 2604, 2605, 2606, 2607, 2608, 2609, 2610, 2611, 2612, 2613, 2614, 2615, 2616, 2617, 2618, 2619, 2620, 2621, 2622, 2623, 2624, 2625, 2626, 2627, 2628, 2629, 2630, 2631, 2632, 2633, 2634, 2635, 2636, 2637, 2638, 2639, 2640, 2641, 2642, 2643, 2644, 2645, 2646, 2647, 2648, 2649, 2650, 2651, 2652, 2653, 2654, 2655, 2656, 2657, 2658, 2659, 2660, 2661, 2662, 2663, 2664, 2665, 2666, 2667, 2668, 2669, 2670, 2671, 2672, 2673, 2674, 2675, 2676, 2677, 2678, 2679, 2680, 2681, 2682, 2683, 2684, 2685, 2686, 2687, 2688, 2689, 2690, 2691, 2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 2701, 2702, 2703, 2704, 2705, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714, 2715, 2716, 2717, 2718, 2719, 2720, 2721, 2722, 2723, 2724, 2725, 2726, 2727, 2728, 2729, 2730, 2731, 2732, 2733, 2734, 2735, 2736, 2737, 2738, 2739, 2740, 2741, 2742, 2743, 2744, 2745, 2746, 2747, 2748, 2749, 2750, 2751, 2752, 2753, 2754, 2755, 2756, 2757, 2758, 2759, 2760, 2761, 2762, 2763, 2764, 2765, 2766, 2767, 2768, 2769, 2770, 2771, 2772, 2773, 2774, 2775, 2776, 2777, 2778, 2779, 2780, 2781, 2782, 2783, 2784, 2785, 2786, 2787, 2788, 2789, 2790, 2791, 2792, 2793, 2794, 2795, 2796, 2797, 2798, 2799, 2800, 2801, 2802, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810, 2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821, 2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832, 2833, 2834, 2835, 2836, 2837, 2838, 2839, 2840, 2841, 2842, 2843, 2844, 2845, 2846, 2847, 2848, 2849, 2850, 2851, 2852, 2853, 2854, 2855, 2856, 2857, 2858, 2859, 2860, 2861, 2862, 2863, 2864, 2865, 2866, 2867, 2868, 2869, 2870, 2871, 2872, 2873, 2874, 2875, 2876, 2877, 2878, 2879, 2880, 2881, 2882, 2883, 2884, 2885, 2886, 2887, 2888, 2889, 2890, 2891, 2892, 2893, 2894, 2895, 2896, 2897, 2898, 2899, 2900, 2901, 2902, 2903, 2904, 2905, 2906, 2907, 2908, 2909, 2910, 2911, 2912, 2913, 2914, 2915, 2916, 2917, 2918, 2919, 2920, 2921, 2922, 2923, 2924, 2925, 2926, 2927, 2928, 2929, 2930, 2931, 2932, 2933, 2934, 2935, 2936, 2937, 2938, 2939, 2940, 2941, 2942, 2943, 2944, 2945, 2946, 2947, 2948, 2949, 2950, 2951, 2952, 2953, 2954, 2955, 2956, 2957, 2958, 2959, 2960, 2961, 2962, 2963, 2964, 2965, 2966, 2967, 2968, 2969, 2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099, 3100, 3101, 3102, 3103, 3104, 3105, 3106, 3107, 3108, 3109, 3110, 3111, 3112, 3113, 3114, 3115, 3116, 3117, 3118, 3119, 3120, 3121, 3122, 3123, 3124, 3125, 3126, 3127, 3128, 3129, 3130, 3131, 3132, 3133, 3134, 3135, 3136, 3137, 3138, 3139, 3140, 3141, 3142, 3143, 3144, 3145]

In [24]:
sddk.write_file("SDAM_data/PHI/inscriptions_list_sorted.json", inscriptions_list_sorted, conf)

Your <class 'list'> object has been succefully written as "https://sciencedata.dk/files/SDAM_root/SDAM_data/PHI/inscriptions_list_sorted.json"

# Testing: reading sample digested by R by to Python

In [0]:
# reading the json processed in R back to Python:
PHI_sample = sddk.read_file("SDAM_data/PHI/PHI_tibble.json", "df", conf)
PHI_sample.head(5)

                                                 URL  ... other_info_4
0  [/text/237766?location=7&patt=&bookid=409&book...  ...           {}
1  [/text/237767?location=7&patt=&bookid=409&book...  ...           {}
2  [/text/237768?location=7&patt=&bookid=409&book...  ...           {}
3  [/text/237769?location=7&patt=&bookid=409&book...  ...           {}
4  [/text/237770?location=7&patt=&bookid=409&book...  ...           {}

[5 rows x 20 columns]