<a href="https://colab.research.google.com/github/sdam-au/PHI_ETL/blob/master/scripts/1_3_EXTRACTING_DATES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import math
import pandas as pd
import re

import sys
### we do a lot of requests during the scrapping. Some of them with requests package, some of them with urllib
import requests
from urllib.request import urlopen 
from urllib.parse import quote  
from bs4 import BeautifulSoup
import xml.etree.cElementTree as ET

import zipfile
import io

# to avoid errors, we sometime use time.sleep(N) before retrying a request
import time
# the input data have typically a json structure
import json
import getpass

import datetime as dt
# for simple paralel computing:
from concurrent.futures import ThreadPoolExecutor

import gspread
from gspread_dataframe import get_as_dataframe, set_with_dataframe
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
!pip install sddk
import sddk

Collecting sddk
  Downloading https://files.pythonhosted.org/packages/bf/96/3ae43f2d8ac06fc16ba111916970e5a1f3b96a3e41732fa3f099e2e5cd1c/sddk-2.6-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from sddk) (2.23.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from sddk) (3.2.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.6/dist-packages (from sddk) (0.14.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from sddk) (1.0.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from sddk) (1.18.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->sddk) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->sddk) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->sddk) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->sddk) (2020.4.5.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->sddk) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->sddk) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->sddk) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->sddk) (1.2.0)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow->sddk) (1.12.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->sddk) (2018.9)
Installing collected packages: sddk
Successfully installed sddk-2.6

In [3]:
conf = sddk.configure("SDAM_root", "648597@au.dk")

sciencedata.dk username (format '123456@au.dk'): 648597@au.dk
sciencedata.dk password: ··········
connection with shared folder established with you as its owner
endpoint variable has been configured to: https://sciencedata.dk/files/SDAM_root/

In [0]:
### authorize google sheets
auth.authenticate_user()
gc = gspread.authorize(GoogleCredentials.get_application_default())
# establish connection with particular sheet by its url:
PHI_overview = gc.open_by_url("https://docs.google.com/spreadsheets/d/1zfTw0Hf304maBmrYvaMxRLnv1zfAVFixrtGTTsLCcT4/edit?usp=sharing")

# Read data

In [0]:
PHI = sddk.read_file("SDAM_data/PHI/PHI_enriched_raw.json", "df", conf)

In [6]:
PHI.head(5)

                                                 URL  ...    PHI_ID
0  [/text/237443?location=1365&patt=&bookid=411&b...  ...  [237443]
1  [/text/237444?location=1365&patt=&bookid=411&b...  ...  [237444]
2  [/text/237445?location=1365&patt=&bookid=411&b...  ...  [237445]
3  [/text/237446?location=1365&patt=&bookid=411&b...  ...  [237446]
4  [/text/237447?location=1365&patt=&bookid=411&b...  ...  [237447]

[5 rows x 12 columns]

In [0]:
def lists_to_values(list_or_value):
  if isinstance(list_or_value, list):
    value = list_or_value[0]
  else: 
    value = list_or_value
  return value
for column in PHI.columns:
  PHI[column] = PHI.apply(lambda row: lists_to_values(row[column]), axis=1)

In [8]:
PHI.head(5)

                                                 URL  Book  ...  filename  PHI_ID
0  /text/237443?location=1365&patt=&bookid=411&bo...  CSCA  ...  CSCA.csv  237443
1  /text/237444?location=1365&patt=&bookid=411&bo...  CSCA  ...  CSCA.csv  237444
2  /text/237445?location=1365&patt=&bookid=411&bo...  CSCA  ...  CSCA.csv  237445
3  /text/237446?location=1365&patt=&bookid=411&bo...  CSCA  ...  CSCA.csv  237446
4  /text/237447?location=1365&patt=&bookid=411&bo...  CSCA  ...  CSCA.csv  237447

[5 rows x 12 columns]

# Old version of date extraction

In [0]:
def date_extractor(date_value):
    ### simple cleaning?
    datation = re.sub("\/\d+", "", date_value)
    for element in ["?"]:
        datation = datation.replace(element, "")
    for element in ["AD", "Rom. Imp.", "Byzant", "Roman period", "Christian"]:
        if element in datation:
            for element_cent in [("1st", 1, 100),
                            ("2nd", 101, 200),
                            ("3rd", 201, 300),
                            ("4th", 301, 400),
                           ]:
                if element_cent[0] in datation:
                    dating = [element_cent[1], element_cent[2], None, round(np.average([element_cent[1], element_cent[2]])), "cent", "AD"]
                    break
                else:
                    try:
                        post = re.search('(after\s|post\s)(\d+)', datation, flags=re.IGNORECASE).groups()
                        post = int(post[1])
                        dating = [post, None, None, None, "post", "AD"]
                    except:
                        try:
                            date_both = re.search('(\d+)(\-)(\d+)', datation, flags=re.IGNORECASE).groups()
                            post = int(date_both[0])
                            ante = int(date_both[2])
                            dating = [post, ante, None, int(np.average([post, ante])), "range", "AD"]
                        except:
                            try:
                                date_exact = re.search('\d+', datation, flags=re.IGNORECASE)
                                date_exact = int(date_exact.group(0))
                                dating = [None, None, date_exact, date_exact, "exact", "AD"]
                            except:
                                dating = [None, None, None, None, "unprecise", "AD"]
                                
            break
        else:
            for element_cent in [(" V ", -500, -401), 
                            (" V/IV ", -500, -301),
                            (" IV ", -400, -301),
                            (" III ", -300, -201),
                            (" II ", -200, -101),
                            (" I ", -100, -1),
                            ("5th", -500,  -401),
                            ("4th", -400, -301),
                            ("3rd", -300, -201),
                            ("2nd", -200, -101),
                            ("1st", -100, -1)]:
                if element_cent[0] in datation:
                    ### if there as an element indicating century
                    dating = [element_cent[1], element_cent[2], None, int(np.average([element_cent[1], element_cent[2]])), "cent", "BC"]
                    break
                else:
                    try:
                        ante = re.search('(ante\s)(\d+)', datation, flags=re.IGNORECASE).groups()
                        ante = int(ante[1]) * -1
                        dating =  [None, ante, None, None, "ante", "BC"]
                    except:
                        try:
                            post = re.search('(post\s|after\s)(\d+)', datation, flags=re.IGNORECASE).groups()
                            post = int(post[1]) * -1
                            dating = [post, None, None, None, "post", "BC"]
                        except:
                            try:
                                date_both = re.search('(\d+)(\-)(\d+)', datation, flags=re.IGNORECASE).groups()
                                post = int(date_both[0]) * -1 
                                ante = int(date_both[2]) * -1
                                dating = [post, ante, None, int(np.average([post, ante])), "range", "BC"]
                            except:
                                try:
                                    date_exact = re.search('\d+', datation, flags=re.IGNORECASE)
                                    date_exact = int(date_exact.group(0)) * -1
                                    dating = [None, None, date_exact, date_exact, "exact", "BC"]
                                except:
                                        dating = [None, None, None, None, "string", "BC"]
    for reign in [("reign of Hadrian", 117, 138),
                  ("reign of Justinian", 527, 565),
                  ("reign of Ant. Pius", 138, 161),
                  ("reign of Augustus", -27, 19),
                  ("reign of Tiberius", 14, 37)]:
        if reign[0] in datation:
            avr = int(np.average([reign[1], reign[2]]))
            if avr < 0:
                period = "BC"
            else:
                period = "AD"
            dating = [reign[1], reign[2], None, avr, "range", period]
            break
    return [date_value] + dating

In [0]:
#examples
datations = ["reign of Claudius", "Roman imperial period", "Hellenistic"]
for datation in datations:
  print(extract_period(datation))

['reign of Claudius', 41, 54.0, None, None, 47.5, 'range', 'AD']
['Roman imperial period', -31, 410.0, None, None, 189.5, 'range', 'AD']
['Hellenistic', -323, -31.0, None, None, -177.0, 'range', 'BC']

# Raw date column

In [0]:
def get_date_from_tildeinfo(tildeinfo):
  try:
    tildeinfo_list = tildeinfo.split("—")
    datation = tildeinfo_list[-1]
    for el in tildeinfo_list:
      if any(time_indicator in el for time_indicator in ["BC", "AD", "period", "reign"]):
        datation = el
        break
  except: 
    datation = ""
  return datation

In [0]:
PHI["raw_date"] = PHI.apply(lambda row: get_date_from_tildeinfo(row["tildeinfo"]), axis=1)

# Testing extracting info from tildeinfo

In [11]:
# generate sample for testing purposes:
PHI_by_500 = PHI[PHI["PHI_ID"].isin(range(1, 300000, 500))]
PHI_by_500.head(5)

                                                    URL  ...           raw_date
625   /text/262001?location=1040&patt=&bookid=517&of...  ...           IStr 427
912   /text/266001?location=1673&patt=&bookid=587&of...  ...   Rom. Imp. period
1260  /text/231001?location=1365&patt=&bookid=394&of...  ...             220/19
1944  /text/79501?location=126&patt=&bookid=23&offse...  ...             Thasos
2502  /text/218501?location=1497&patt=&bookid=367&of...  ...          el-Boueib

[5 rows x 13 columns]

# Parse ante quem and post quem

In [12]:
### simple demonstration of the logic
datation = "not before 304 AD"
match = re.search("(not\s(before|bef\.)\s|non\sante\s)(\d+)",  datation, flags=re.IGNORECASE)
if match:
  dating_update = {"start" : int(match.groups()[2]), "type" : "post"}
dating_update

{'start': 304, 'type': 'post'}

In [0]:
def extract_ante_and_post(datation, dating):
  if "unknown" in dating["type"]: 
    # if "NOT BEFORE"
    match = re.search("(not\s(before|bef\.)\s|non\sante\s)(\-?\d+)(\s|$)",  datation, flags=re.IGNORECASE)
    if match:
      if "AD" not in datation:
        start = (int(match.groups()[2]) * -1) - 1
        dating_update = {"start" : start, "type" : "post"}
      else:
        dating_update = {"start" : int(match.groups()[2]) - 1, "type" : "post"}
    # if "BEFORE"
    else:
      match = re.search('(before\s|ante\s)(\-?\d+)(\s|$)', datation, flags=re.IGNORECASE)
      if match:
        dating_update = {"stop" : int(match.groups()[1]), "type" : "ante"}
        if "AD" not in datation:
          dating_update["stop"] = dating_update["stop"] * -1
      # if "NOT AFTER"
      else:
        match = re.search("(not\safter\s|non\spost\s)(\-?\d+)(\s|$)",  datation, flags=re.IGNORECASE)
        if match:
          if "AD" not in datation:
            dating_update = {"stop" : (int(match.groups()[1]) * -1) + 1, "type" : "ante"}
          else:
            dating_update = {"stop" : int(match.groups()[1]) + 1, "type" : "ante"}
        # if "AFTER"
        else:
            match = re.search('(after\s|post\s)(\-?\d+)(\s|$)', datation, flags=re.IGNORECASE)
            if match:
              dating_update = {"start" : int(match.groups()[1]), "type" : "post"}
              if "AD" not in datation:
                dating_update["start"] = dating_update["start"] * -1
            else:
              dating_update = dating
  elif "exact+or" in dating["type"]: 
    # if "NOT BEFORE"
    match = re.search("(not\s(before|bef\.)\s|non\sante\s)",  datation, flags=re.IGNORECASE)
    if match:
      dating_update = {"start" : dating["exact"], "or": {"start" : dating["or"]["exact"], "exact" : None}, "exact" : None, "type" : "post+or"}
    # if "BEFORE"
    else:
      match = re.search('(before\s|ante\s)', datation, flags=re.IGNORECASE)
      if match:
        dating_update = {"stop" : dating["exact"], "or": {"stop" : dating["or"]["exact"], "exact" : None}, "exact" : None, "type" : "ante+or"}
      # if "NOT AFTER"
      else:
        match = re.search("(not\safter\s|non\spost\s)",  datation, flags=re.IGNORECASE)
        if match:
              dating_update = {"stop" : dating["exact"], "or": {"stop" : dating["or"]["exact"], "exact" : None}, "exact" : None, "type" : "ante+or"}
        # if "AFTER"
        else:
            match = re.search('(after\s|post\s)', datation, flags=re.IGNORECASE)
            if match:
              dating_update = {"start" : dating["exact"], "or": {"start" : dating["or"]["exact"], "exact" : None}, "exact" : None, "type" : "post+or"}
            else:
              dating_update = dating
  elif "range" in dating["type"]:
    # if "NOT BEFORE"
    match = re.search("(not\s(before|bef\.)\s|non\sante\s)",  datation, flags=re.IGNORECASE)
    if match:
      dating_update = {"start" : dating["start"] - 1, "stop":None, "type" : dating["type"]+"+post"}
    # if "BEFORE"
    else:
      match = re.search('(before\s|ante\s)', datation, flags=re.IGNORECASE)
      if match:
        dating_update = {"stop" : dating["start"], "start":None, "type" : dating["type"]+"+ante"}  
      # if "NOT AFTER"
      else:
        match = re.search("(not\safter\s|non\spost\s)",  datation, flags=re.IGNORECASE)
        if match:
          dating_update = {"stop" : dating["stop"] + 1, "start":None,"type" : dating["type"]+"+ante"}
        # if "AFTER"
        else:
          match = re.search('(after\s|post\s)', datation, flags=re.IGNORECASE)
          if match:
            dating_update = {"start" : dating["stop"], "stop":None,"type" : dating["type"]+"+post"}
          else:
            dating_update = dating
  else: 
    #datation = re.sub("(not\s(after|bef\.)\s|non\spost)", "ante\s", datation)
    dating_update = dating
  if "shortly" in datation:
    dating_update["type"] = dating_update["type"] + "+shortly"
  return dating_update

In [14]:
# example with "unknown"
dating = {"type" : "unknown", "era": None}
for datation in ["non post 230 AD", "shortly after 320 BC", "not bef. 114 BC","not after 317 AD", "before 200", "Ante 114 BC", "post 2nd century BC"]:
  print(datation, extract_ante_and_post(datation, dating))

non post 230 AD {'stop': 231, 'type': 'ante'}
shortly after 320 BC {'start': -320, 'type': 'post+shortly'}
not bef. 114 BC {'start': -115, 'type': 'post'}
not after 317 AD {'stop': 318, 'type': 'ante'}
before 200 {'stop': -200, 'type': 'ante'}
Ante 114 BC {'stop': -114, 'type': 'ante'}
post 2nd century BC {'type': 'unknown', 'era': None}

In [15]:
datation, dating = "not after reign of Trajan", {"start": 98, "stop" : 117, "type" : "range+period", "era": None}
extract_ante_and_post(datation, dating)

{'start': None, 'stop': 118, 'type': 'range+period+ante'}

# Parse periods

In [16]:
# read periods from our external code
periods = get_as_dataframe(PHI_overview.worksheet("periods"))
periods

                period  start  ...  notes                                   link
0            Roman imp    -31  ...    NaN  http://n2t.net/ark:/99152/p08m57hqcc5
1             Rom. Imp    -31  ...    NaN  http://n2t.net/ark:/99152/p08m57hqcc5
2            aet. imp.    -31  ...    NaN  http://n2t.net/ark:/99152/p08m57hqcc5
3            aet. Rom.   -146  ...    NaN                                    NaN
4         Roman period   -146  ...    NaN                                    NaN
5     reign of Hadrian    117  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbntfj
6   reign of Justinian    527  ...    NaN  http://n2t.net/ark:/99152/p06c6g3r7ht
7   reign of Ant. Pius    138  ...    NaN  http://n2t.net/ark:/99152/p06c6g3drk4
8    reign of Augustus    -27  ...    NaN  http://n2t.net/ark:/99152/p06c6g3xnmx
9    reign of Tiberius     14  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbts8w
10   reign of Claudius     41  ...    NaN  http://n2t.net/ark:/99152/p0jrrjb8spw
11     reign of Trajan     98  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbj7h3
12          Christian       1  ...    NaN                                    NaN
13       Byzantine per    324  ...    NaN  http://n2t.net/ark:/99152/p0m63njtm6w
14         Byzant. per    324  ...    NaN  http://n2t.net/ark:/99152/p0m63njtm6w
15           Byzantium    330  ...    NaN  http://n2t.net/ark:/99152/p08vvjk5t32
16         Hellenistic   -330  ...    NaN  http://n2t.net/ark:/99152/p03wskd55sw
17      Late Antiquity    284  ...    NaN  http://n2t.net/ark:/99152/p0jrrjb67vs
18            Claudian     41  ...    NaN  http://n2t.net/ark:/99152/p0jrrjb8spw
19            Trajanic     98  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbj7h3
20           Hadrianic    117  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbntfj
21     Antonine period     96  ...    NaN  http://n2t.net/ark:/99152/p06c6g34zjk
22      Severan period    193  ...    NaN  http://n2t.net/ark:/99152/p0jrrjbtf3t

[23 rows x 8 columns]

In [17]:
periods_dict = periods.set_index("period").T.to_dict()
periods_dict["reign of Claudius"]

{'era': 'AD',
 'link': 'http://n2t.net/ark:/99152/p0jrrjb8spw',
 'notes': nan,
 'source': 'PeriodO',
 'start': 41,
 'stop': 54,
 'type': 'range+period'}

In [0]:
def extract_period(datation, dating=None):
  if (dating==None) or (dating["type"] == "unknown"):
    for key in periods_dict.keys():
      if key.lower() in datation.lower(): # use lower cases to match everything
        period = periods_dict[key]   
        dating_update = period
        break
      else:
        dating_update = {"type" : "unknown"}
    return dating_update
  else:
    return dating

In [19]:
# example:
dating = {"type": "unknown"}
for datation in ["Byzantine", "Roman Imperial", "reign of Augustus", "140", "late Antonine period"]:
  print({datation : extract_period(datation, dating)})

{'Byzantine': {'type': 'unknown'}}
{'Roman Imperial': {'start': -31, 'stop': 410, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}}
{'reign of Augustus': {'start': -27, 'stop': 14, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p06c6g3xnmx'}}
{'140': {'type': 'unknown'}}
{'late Antonine period': {'start': 96, 'stop': 192, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p06c6g34zjk'}}

# EDH periods exploratations
(skip, not needed)

In [0]:
# read periods from our external code
EDH_periods = get_as_dataframe(PHI_overview.worksheet("EDH_periods"))
EDH_periods.head(5)

                                  period  ... derived_periods
0  http://n2t.net/ark:/99152/p0jrrjb7g67  ...             NaN
1  http://n2t.net/ark:/99152/p0jrrjbw83z  ...             NaN
2  http://n2t.net/ark:/99152/p0jrrjbvfhm  ...             NaN
3  http://n2t.net/ark:/99152/p0jrrjbts8w  ...             NaN
4  http://n2t.net/ark:/99152/p0jrrjb8spw  ...             NaN

[5 rows x 10 columns]

In [0]:
def count_instances(label):
  return len(PHI[PHI["raw_date"].str.contains(label)])

EDH_periods["label_in_PHI"] = EDH_periods.apply(lambda row: count_instances(row["label"]), axis=1)

In [0]:
PHI[PHI["raw_date"].str.contains("Trajanic")]

                                                      URL  ...         raw_date
150830  /text/270547?location=254&patt=&bookid=618&off...  ...   prob. Trajanic

[1 rows x 13 columns]

In [0]:
set_with_dataframe(PHI_overview.add_worksheet("EDH_periods_in_PHI", 1, 1), EDH_periods)

# Parse "/" for individual dates

In [0]:
def match_or(datation, dating):
  if dating["type"] == "unknown":
    match = re.search(r'(\d+)(\/)(\d+)', str(datation), flags=re.IGNORECASE)
    if match != None:
        date1 = match.groups()[0]
        date2 = match.groups()[2]
        len_diff = len(date1) - len(date2)
        # complete the numbers 
        if len_diff > 0:
          date2 = date1[:len_diff] + date2
        # transform it into integer
        date1 = int(date1)
        date2 = int(date2)
        if "AD" not in datation:
          date1 = date1 * -1
          date2 = date2 * -1
          dating["era"] = "BC"
        else:
          dating["era"] = "AD"
        if date1 > date2:
          date1, date2 = date2, date1
        if abs(date1 - date2) < 2: # if these are neighboring numbers
          dating.update({"start" : date1, "stop": date2, "type" : "range"})
        else:
          dating.update({"exact" : date1, "or": {"exact" : date2, "type" : "exact"}, "type" : "exact+or"})
        dating = extract_ante_and_post(datation, dating)
        return dating
        #if dating_update["type"] == "post":
        #   return {"start" : date1, "or": {"start" : date2, "type" : "post"}, "type" : "post+or"}
        #elif extract_ante_and_post(datation, dating)["type"] == "ante":
        #  return {"stop" : date1, "or": {"stop" : date2, "type" : "ante"}, "type" : "ante+or"}
        #else:
        #  return {"exact" : date1, "or": {"exact" : date2, "type" : "exact"}, "type" : "exact+or"}
    else:
      return {"type" : "unknown"}
  else:
    return {"type" : "unknown"}

In [21]:
dating = {"type": "unknown"}
match_or(" 12/1 BC", dating)

{'era': 'BC', 'start': -12, 'stop': -11, 'type': 'range'}

In [22]:
ors = PHI_by_500[PHI_by_500["raw_date"].str.contains(r'(\d+)(\/)(\d+)')]["raw_date"].tolist()
print(ors)

[' 220/19', ' 12/1 BC', ' 116/5 BC', ' 229/30 or 230/1 AD ', ' ante 336/5', ' 204/3?', ' 73/4 AD', ' ca. 163/2 BC', ' 128/127 BC ', ' shortly after 208/7 BC (or 207/6) ', ' 154/5 AD', ' 66/7 AD']

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [23]:
datation = "12/1 BC"
match = re.search(r'(\d+)(\/)(\d+)', str(datation), flags=re.IGNORECASE)
if match:
  date1 = match.groups()[0]
  date2 = match.groups()[2]
  len_diff = len(date1) - len(date2)
  # complete the numbers 
  if len_diff > 0:
    date2 = date1[:len_diff] + date2
  # transform it into integer
  date1 = int(date1)
  date2 = int(date2)
print(date1, date2)

12 11

In [24]:
match_or(" 12/1 BC", {"type":"unknown"})

{'era': 'BC', 'start': -12, 'stop': -11, 'type': 'range'}

In [25]:
# example/testing
dating = {"type": "unknown"}
for our_or in ors:
  print({our_or: match_or(our_or, dating)})
  #print({our_or: extract_ante_and_post(our_or)})

{' 220/19': {'type': 'range', 'era': 'BC', 'start': -220, 'stop': -219}}
{' 12/1 BC': {'type': 'unknown'}}
{' 116/5 BC': {'type': 'unknown'}}
{' 229/30 or 230/1 AD ': {'type': 'unknown'}}
{' ante 336/5': {'type': 'unknown'}}
{' 204/3?': {'type': 'unknown'}}
{' 73/4 AD': {'type': 'unknown'}}
{' ca. 163/2 BC': {'type': 'unknown'}}
{' 128/127 BC ': {'type': 'unknown'}}
{' shortly after 208/7 BC (or 207/6) ': {'type': 'unknown'}}
{' 154/5 AD': {'type': 'unknown'}}
{' 66/7 AD': {'type': 'unknown'}}

In [26]:
ors = PHI_by_500[PHI_by_500["raw_date"].str.contains("/")]["raw_date"].tolist()
print(ors)

[' 220/19', ' 2nd/3rd c. AD', ' 12/1 BC', ' 2nd/3rd c. AD ', ' 116/5 BC', ' 3rd/2nd c. BC?', ' 6th/5th c. BC', ' 6th/5th c. BC', ' 229/30 or 230/1 AD ', ' 2nd/3rd c. AD ', ' 3rd/4th c. AD ', ' ante 336/5', ' 204/3?', ' [s. II/III p.]', ' 73/4 AD', ' 1st/2nd c. AD', ' fin. s. V/VI p.', ' 5th/6th c. AD', ' 2nd/3rd c. AD', ' ca. 163/2 BC', ' 3rd/2nd c. BC', ' 1st/2nd c. AD', ' 2nd/3rd c. AD ', ' 128/127 BC ', ' 2nd/3rd c. AD ', ' 2nd/1st c. BC', ' 1st/2nd c. AD', ' 3rd/4th c. AD? ', ' 2nd/3rd c. AD', ' 1st/2nd c. AD', ' Laurent, Corpus V 357bis/1702', ' shortly after 208/7 BC (or 207/6) ', ' 154/5 AD', ' 66/7 AD', ' 1st c. BC/1st c. AD ', ' 2nd/3rd c. AD']

In [27]:
PHI_by_500[PHI_by_500["raw_date"].str.contains("/")].head(5)

                                                     URL  ...         raw_date
1260   /text/231001?location=1365&patt=&bookid=394&of...  ...           220/19
7001   /text/298501?location=1237&patt=&bookid=735&of...  ...    2nd/3rd c. AD
15498  /text/243501?location=1498&patt=&bookid=474&of...  ...          12/1 BC
16567  /text/299501?location=1237&patt=&bookid=737&of...  ...   2nd/3rd c. AD
24698  /text/64501?location=915&patt=&bookid=1&offset...  ...         116/5 BC

[5 rows x 13 columns]

# Parse centuries

In [39]:
centuries_df = get_as_dataframe(PHI_overview.worksheet("centuries"))
centuries_df.set_index("arabic", inplace=True)
centuries_df

       roman  start_BC  stop_BC  start_AD  stop_AD
arabic
8th     VIII      -800     -701       701      800
7th      VII      -700     -601       601      700
6th       VI      -600     -501       501      600
4th       IV      -400     -301       301      400
5th        V      -500      401       401      500
3rd      III      -300     -201       201      300
2nd       II      -200     -101       101      200
1st        I      -100       -1         1      100

In [70]:
arabics = centuries_df.index.tolist()
arabics

['8th', '7th', '6th', '4th', '5th', '3rd', '2nd', '1st']

In [41]:
centuries_df["roman"].tolist()

['VIII', 'VII', 'VI', 'IV', 'V', 'III', 'II', 'I']

In [31]:
datation = "1st-early 2nd c. AD"
re.split("-|/|\sor\s", datation)

['1st', 'early 2nd c. AD']

In [43]:
centuries_df.loc["3rd"]["roman"]

'III'

In [48]:
datation = "s. II/III AD" # "p." and "a." are replaced previously
for roman, arabic in zip(centuries_df["roman"].tolist(), centuries_df.index.tolist()):
  datation = re.sub(roman, arabic, datation)
centuries = re.split("-|/|\sor\s", datation)
print(centuries)

['s. 2nd', '3rd AD']

In [84]:
any(re.search(arabic, "2nd c. AD") for arabic in arabics)

True

In [0]:
for num in arabics:
  century1 = [num for cents_list[0] if num in cents_list[0]]

In [103]:
num = "4th"
re.sub(".*" + num + ".", num, "beg. 4th c. ") # for num in arabics

['s. 2nd c. ',
 's. 2nd c. ',
 's. 2nd c. ',
 's. 2nd c. ',
 's. 2nd c. ',
 's. 2nd c. ',
 's. 2nd',
 's. 2nd c. ']

In [0]:
### new version - still not functional...
def parse_centuries(datation, dating):
  for roman, arabic in zip(centuries_df["roman"].tolist(), arabics):
    datation = re.sub(roman, arabic, datation)
  cents = [cent for cent in centuries_df.index.tolist() if re.search(cent, datation)]
  # if more centuries mentioned:
  if len([cent for cent in centuries_df.index.tolist() if re.search(cent, datation)]) == 2:
    cents_list = re.split("-|/|\sor\s", datation)
    century1 = [re.sub(".*" + num + ".*", num, cents_list[0])  for num in arabics if num in string][0]
    century2 = [re.sub(".*" + num + ".*", num, cents_list[1])  for num in arabics if num in string][0]
    if (" AD" in datation) and (" BC" not in datation): # if explicit AD and only AD:
      start = centuries_df.loc[century1]["start_AD"]
      stop = centuries_df.loc[century2]["stop_AD"]
      era = "AD"
    elif (" BC" in cents_list[0]) and (" AD" in cents_list[1]):
      start = centuries_df.loc[century1]["start_BC"]
      stop = centuries_df.loc[century2]["stop_AD"]
      era = "BC/AD"
    else:
      start = centuries_df.loc[century1]["start_BC"]
      stop = centuries_df.loc[century2]["stop_BC"]
      era = "BC"
    dating_update = {"start" : start, "stop" : stop, "era" : era, "type" : "range+cent+morece"}
  elif len(cents) == 1:
    century = [re.sub(".*" + num + ".*", num, datation)  for num in arabics if num in string][0]
    if " AD" in datation: 
      start = centuries_df.loc[century]["start_AD"]
      stop = centuries_df.loc[century]["stop_AD"]
      era = "AD"
    else:
      start = centuries_df.loc[century]["start_BC"]
      stop = centuries_df.loc[century]["stop_BC"]
      era = "BC"
    dating_update = {"start" : start, "stop" : stop, "era" : era, "type" : "range+cent"}
  else:
    dating_update = {"type": "unknown"}
  return dating_update

In [118]:
arabics

['8th', '7th', '6th', '4th', '5th', '3rd', '2nd', '1st']

In [122]:
string = "s. 2nd"
century1 = [re.sub(".*" + num + ".*", num, string)  for num in arabics if num in string]
century1

['2nd']

In [120]:
datation = "s. II/III AD" # "p." and "a." are replaced previously
parse_centuries(datation, {"type": "unknown"})

KeyError: ignored

In [69]:
cents = [cent for cent in centuries_df.index.tolist() if re.search(cent, datation)]
cents_list = re.split("-|/|\sor\s", datation)
cents = [cent_num for cent_str in cents_list if cent_num in cent_str] # to correct order
cents

NameError: ignored

In [62]:
datation = "s. II/III AD"
for roman, arabic in zip(centuries_df["roman"].tolist(), centuries_df.index.tolist()):
  datation = re.sub(roman, arabic, datation)
cents = [cent for cent in centuries_df.index.tolist() if re.search(cent, datation)]
[cent for cent in cents

#parse_centuries(datation, {"type" : "unkwnown"})

['3rd', '2nd']

In [63]:
cents_list = re.split("-|/|\sor\s", datation)
cents_list

['s. 2nd', '3rd AD']

In [64]:
if (" AD" in datation) and (" BC" not in datation):
  print("yes")

yes

In [66]:
dating_update = {"start" : centuries_df.loc[cents[0]]["start_AD"], "stop" : centuries_df.loc[cents[-1]]["stop_AD"], "type" : "range+cent", "era" : "AD"}
dating_update

{'era': 'AD', 'start': 201, 'stop': 200, 'type': 'range+cent'}

In [0]:
cent_BC =                   [("s\.\sVI($|\s|\/)", -600, -501),
                             ("s\.\sV($|\s|\/)", -500, -401), 
                            ("s\.\sV/IV($|\s|\/)", -500, -301),
                            ("s\.\sIV($|\s|\/)", -400, -301),
                            ("s\.\sIII($|\s|\/)", -300, -201),
                            ("s\.\sII($|\s|\/)", -200, -101),
                            ("s\.\sI($|\s|\/)", -100, -1),
                            ("8th", -800, -701), 
                            ("7th", -700, -601),
                            ("6th", -600,  -501),
                            ("5th", -500,  -401),
                            ("4th", -400, -301),
                            ("3rd", -300, -201),
                            ("2nd", -200, -101),
                            ("1st", -100, -1)]
cent_AD =                  [("s\.\sI($|\s|\/)", 1, 100),
                            ("s\.\sII($|\s|\/)", 101, 200),
                            ("s\.\sIII($|\s|\/)", 201, 300),
                            ("s\.\sIV($|\s|\/)", 301, 400),
                            ("s\.\sV($|\s|\/)", 401, 500),
                            ("s\.\sV($|\s|\/)", 401, 500),
                            ("1st", 1, 100),
                            ("2nd", 101, 200),
                            ("3rd", 201, 300),
                            ("4th", 301, 400),
                            ("5th", 401, 500),
                            ("6th", 501, 600),
                            ("7th", 601, 700),
                            ("8th", 701, 800)]
def parse_centuries(datation, dating):
  #if (" BC" in datation) and (" AD" in datation):
  #  century_BC = [element_cent for element_cent in cent_BC if re.search(element_cent[0], datation.partition("BC")[0])]
  #  century_AD = [element_cent for element_cent in cent_AD if re.search(element_cent[0], datation.partition("AD")[2])]
  #  return {"start" : century_BC[0][1], "stop" : century_AD[-1][2], "type" : "range+cent", "era" : "BC/AD"} # use the first century for start date and last for stop date
  # else:
    try:
      if dating["era"] == "AD":
        dating_update = {}
        centuries_mentioned = [element_cent for element_cent in cent_AD if re.search(element_cent[0], datation)]
        return {"start" : centuries_mentioned[0][1], "stop" : centuries_mentioned[-1][2], "type" : "range+cent"} # use the first century for start date and last for stop date
      if dating["era"] == "BC":
        centuries_mentioned = [element_cent for element_cent in cent_BC if re.search(element_cent[0], datation)]
        return {"start" : centuries_mentioned[0][1], "stop" : centuries_mentioned[-1][2], "type" : "range+cent"} # use the first century for start date and last for stop date
    except:
      return {"type": "unknown"}

In [0]:
datation = "s. III/II"
for number_pair in [("VIII", "8th"),
                       ("VII", "7th"),
                       ("VI", "6th"),
                       ("IV", "4th"),
                       ("V", "5th"),
                       ("III", "3rd"),
                       ("II", "2nd"),
                       ("I", "1st")]:
  match = re.search("(s\.\s|/)(" + number_pair[0] + ")($|\s|/)", datation)
  if match:
    datation = re.sub("(s\.\s|/)(" + number_pair[0] + ")", number_pair[1] + match.groups()[2], datation)
datation

'3rd/2nd'

In [0]:
# example 1
parse_centuries("2nd/3rd c. AD", {"era": "AD"})

{'start': 101, 'stop': 300, 'type': 'range+cent'}

In [0]:
parse_centuries("2nd c. BC - 3rd c. AD", {"era": "AD"})

{'start': 101, 'stop': 300, 'type': 'range+cent'}

In [0]:
# ("a."  and "p." are replaced by "BC" and "AD" earlier in the script
parse_centuries("s. I BC/s. I AD", {"era": "BC/AD"})

In [0]:
parse_centuries("s. II/III a.", {"era": "BC"})

{'start': -200, 'stop': -101, 'type': 'range+cent'}

# Parse phase

In [0]:
def modify_by_phase(datation, dating):
  try:
    start, stop = dating["start"], dating["stop"]
    try: 
      duration = abs(dating["stop"] - dating["start"])
    except:
      duration = 1
    datation = datation.lower()
    if "early" in datation:
      coef = 0.25
      dating["stop"] = start + round(duration * coef)
      dating["type"] = dating["type"] + "+early"
    if "late" in datation:
      if "late antiquity" not in datation:
        coef = 0.25
        dating["start"] = stop - round(duration * coef)
        dating["type"] = dating["type"] + "+late"
    if re.search("(beginning|beg\.?\s)", datation):
      coef = 0.1
      dating["stop"] = start + round(duration * coef)
      dating["type"] = dating["type"] + "+beg"
    if re.search("(end\s|fin.\s)", datation):
      coef = 0.1
      dating["start"] = stop - round(duration * coef)
      dating["type"] = dating["type"] + "+end"
    if re.search("(middle|mid\.?\s|med\.\s)", datation):
      coef = 0.05 # that means: "middle 2nd c. AD" => 140 - 161
      dating_avr = (dating["start"] + dating["stop"]) / 2
      dating["start"] = round(dating_avr - (coef * duration))
      dating["stop"] = round(dating_avr + (coef * duration))
      dating["type"] = dating["type"] + "+middle"
    if re.search("ca\.\s", datation):
      dating["type"] = dating["type"] + "+ca"
      if ("exact" in dating["type"]) or duration < 10:
        dating.update({"start" : dating["exact"] - 5, "stop" : dating["exact"] + 5})
        dating["exact"] = None
      else:
        dating["start"] = start - round(duration * 0.1)
        dating["stop"] = stop + round(duration * 0.1)
    return dating
  except:
    return dating

In [0]:
datation = "ca. 200 BC"
dating = {"start" : None, "stop" : None, "exact" : -200, "type" : "exact", "era" : "BC"}
print(modify_by_phase(datation, dating))

{'start': -205, 'stop': -195, 'exact': None, 'type': 'exact+ca', 'era': 'BC'}

In [0]:
datation = "ca. s. II BC"
dating = {"start" : -200, "stop" : -101, "type" : "range+cent"}
print(modify_by_phase(datation, dating))

{'start': -210, 'stop': -91, 'type': 'range+cent+ca'}

In [0]:
datation = "[med. V a.]"
if datation[0] == "[":
  datation = datation[1:-1]
datation

'med. V a.'

In [0]:
datation = re.sub("a\.(\-|\/|$)", "AD", datation)

In [0]:
datation

'med. V AD'

In [0]:
datation =  "non ante med. s. II a."
datation = re.sub("(not\s(before|bef\.)\s|non\sante\s)", "post ", datation)
datation

'post med. s. II a.'

# Main function

In [0]:
def date_extractor(datation):
  dating = {"start": None, "stop": None, "exact": None, "or": None, "type": "unknown", "era": None}
  # UNCERTAINTY
  if "?" in datation:
    datation = datation.replace("?", "")
    dating["certainty"] = "?"
  if datation[0] == "[":
    datation = datation[1:-1]
    dating["certainty"] = "?"
  # PURE NUMBERS
  if dating["type"] == "unknown":
    match = re.match("^\s?(\d+)\s?$", datation) # if it is not just a number (numbers alone are good) 
    if match:
      dating.update({"exact" : int(match[0]), "type": "exact"})
  # ranges combining BC and AD:
  match = re.search("(\d+)(\s(a\.|BP))(\-)(\d+)(\s(p\.|AD))", datation) # (/sa/.)(/-)(/d+)(/sp/.)"
  if match:
    dating.update({"start" : int(match.groups()[0]) * -1, "stop" : match.groups()[4], "era" : "BC/AD", "type" : "range"})
  # "year/year"
  dating.update(match_or(datation, dating)) # find all "/" instances linked with individual years
  # PERIODS
  dating.update(extract_period(datation, dating))
  #replace " a." and " p." when at the end of datation or before "/" or "-"
  datation = re.sub("a\.(\-|\/|$)", "BC", datation)
  datation = re.sub("p\.(\-|\/|$)", "AD", datation)
  if dating["type"] == "unknown":
    if " AD" in datation:
            dating["era"] = "AD" 
            if dating["type"] == "unknown":
              try: dating.update(parse_centuries(datation, dating))
              except: pass
            ### try post quem and ante quem
            if dating["type"] == "unknown":
              dating.update(extract_ante_and_post(datation, dating))
            if dating["type"] == "unknown": 
              try:
                date_both = re.search('(\d+)(\-)(\d+)', datation, flags=re.IGNORECASE).groups()
                if any(time_indicator in datation for time_indicator in [" BC", " AD", "prob", "possi"]):
                  dating.update({"start" : int(date_both[0]), "stop" : int(date_both[2]), "type" : "range"})
              except:  
                  try:
                    match = re.search('\d+', datation, flags=re.IGNORECASE)
                    if any(time_indicator in datation for time_indicator in [" BC", " AD", "prob", "possi"]):
                      dating.update({"exact" : int(match[0]), "type": "exact"})
                  except:
                    pass
    ### try BC:
    else:
        dating["era"] = "BC"
        if dating["type"] == "unknown":
          try:
            dating.update(parse_centuries(datation, dating))
          except:
            pass
        ### try post quem and ante quem
        if dating["type"] == "unknown":
          dating.update(extract_ante_and_post(datation, dating))
        if dating["type"] == "unknown":
          try:
            date_both = re.search('(\d+)(\-)(\d+)', datation, flags=re.IGNORECASE).groups()
            if any(time_indicator in datation for time_indicator in [" BC", " AD", "prob", "possi"]):
              dating.update({"start" : int(date_both[0]) * -1, "stop" : int(date_both[2]) * -1, "type" : "range"})
          except:  
            try:
              date_exact = re.search('\d+', datation, flags=re.IGNORECASE)
              if any(time_indicator in datation for time_indicator in [" BC", " AD", "prob", "possi"]):
                dating.update({"exact" : int(date_exact.group(0)) * -1, "type": "exact"})
            except:
              pass
  # extract phases (e.g. "early", "middle", "late", "beginning" etc.)
  dating = modify_by_phase(datation, dating)
  # extract ante quem and post quem for ranges
  if "range" in dating["type"]:
    dating = extract_ante_and_post(datation, dating)
  if dating["type"]=="unknown":
    dating.update({"start": None, "stop": None, "exact": None, "or": None, "type": "unknown", "era" : None})
  return dating

In [0]:
date_extractor("s. II/III AD")

{'era': 'AD',
 'exact': None,
 'or': None,
 'start': 101,
 'stop': 200,
 'type': 'range+cent'}

In [0]:
# testing/example
for datation in ["Byzantine", "non ante s. II a.", "140/39 BC", "Rom. Imp", "reign of Augustus", "ante 140 BC", "late Antonine period", "IosPE IV 348"]:
  print(datation, date_extractor(datation))

Byzantine {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
non ante s. II a. {'start': -201, 'stop': None, 'type': 'range+cent+post'}
140/39 BC {'start': -140, 'stop': -139, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
Rom. Imp {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
reign of Augustus {'start': -27, 'stop': 14, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p06c6g3xnmx'}
ante 140 BC {'start': None, 'stop': -140, 'exact': None, 'or': None, 'type': 'ante', 'era': 'BC'}
late Antonine period {'start': 168, 'stop': 192, 'exact': None, 'or': None, 'type': 'range+period+late', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p06c6g34zjk'}
IosPE IV 348 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}

In [0]:
datation = "3rd c. AD"
date_extractor(datation)

{'era': 'AD',
 'exact': None,
 'or': None,
 'start': 201,
 'stop': 300,
 'type': 'range+cent'}

In [0]:
datation = "Nécrop.Myr. 224,5"
date_extractor(datation)

{'era': None,
 'exact': None,
 'or': None,
 'start': None,
 'stop': None,
 'type': 'unknown'}

In [0]:
 datation = " non ante med. s. II p."
 date_extractor(datation)

{'start': 145, 'stop': None, 'type': 'range+cent+middle+post'}

In [0]:
date_extractor("not bef. the Antonine period")

{'start': 95, 'stop': None, 'type': 'range+period+post'}

In [0]:
datation = "27 a.-14 p."
match = re.search("(\d+)(\s(a\.|BP))(\-)(\d+)(\s(p\.|AD))", datation) # (/sa/.)(/-)(/d+)(/sp/.)"
if match:
  dating = {"start" : int(match.groups()[0]) * -1, "stop" : match.groups()[4], "era" : "BC/AD", "type" : "range"}
dating

{'era': 'BC/AD', 'start': -27, 'stop': '14', 'type': 'range'}

In [0]:
test_list = PHI_by_500["raw_date"].tolist()
for datation in test_list:
  print(datation, date_extractor(datation))

IStr 427 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Rom. Imp. period {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
 220/19 {'start': -220, 'stop': -219, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
Thasos {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 el-Boueib {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 ca. 100-150 AD {'start': 95, 'stop': 155, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'AD'}
 267-668 AD {'start': 267, 'stop': 668, 'exact': None, 'or': None, 'type': 'range', 'era': 'AD'}
 1st c. BC  {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 Roman period?  {'start': -146, 'stop': 324, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'certainty': '?', 'source': nan, 'notes': nan, 'link': nan}
 155 AD  {'start': None, 'stop': None, 'exact': 155, 'or': None, 'type': 'exact', 'era': 'AD'}
 199 AD {'start': None, 'stop': None, 'exact': 199, 'or': None, 'type': 'exact', 'era': 'AD'}
 2nd/3rd c. AD {'start': 101, 'stop': 300, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 JHS 25,1905,56 Nr.4 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 ca. 100-150 AD  {'start': 95, 'stop': 155, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'AD'}
 1st c. BC  {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 ca. 300-250 BC {'start': -305, 'stop': -245, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 beg. 2nd c. BC {'start': -200, 'stop': -190, 'exact': None, 'or': None, 'type': 'range+cent+beg', 'era': 'BC'}
 *SEG 24.119; 29.93 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Thebes [W.]: Syringes {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Thebes [W.]: Syringes {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Thebes [W.]: Syringes {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Thebes [W.]: Syringes {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 1st c. AD {'start': 1, 'stop': 100, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 Rom. Imp. period  {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
 46-44 BC {'start': -46, 'stop': -44, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 SEG 27.880 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 3rd c. BC {'start': -300, 'stop': -201, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 12/1 BC {'start': -12, 'stop': -11, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 Tell Frēǧ {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 2nd/3rd c. AD  {'start': 101, 'stop': 300, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
Paros {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Ta Grammata {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 430 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 284 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 1599 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 1904.2 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 2247A {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 2456 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 573.8 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 1962 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Antiochia & Area of {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 350-300 BC {'start': -350, 'stop': -300, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 120-63 BC {'start': -120, 'stop': -63, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 116/5 BC {'start': -116, 'stop': -115, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
Delos {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 3rd c. BC  {'start': -300, 'stop': -201, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 ca. 260-240 BC {'start': -262, 'stop': -238, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 mid 4th c. BC  {'start': -355, 'stop': -346, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 177 AD {'start': None, 'stop': None, 'exact': 177, 'or': None, 'type': 'exact', 'era': 'AD'}
 IG I³ 1088 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 end 5th c. AD {'start': 490, 'stop': 500, 'exact': None, 'or': None, 'type': 'range+cent+end', 'era': 'AD'}
 Rom. Imp. period {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
 Yapıldak: Inli {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 4th c. BC {'start': -400, 'stop': -301, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 Nikaia (Iznik) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IPri 87 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IPri 313.309 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IPri 297 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Mt. Hymettos {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 3rd/2nd c. BC? {'start': -300, 'stop': -101, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC', 'certainty': '?'}
 209-204 BC  {'start': -209, 'stop': -204, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 1st c. AD {'start': 1, 'stop': 100, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 6th/5th c. BC {'start': -600, 'stop': -401, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 6th/5th c. BC {'start': -600, 'stop': -401, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 1st c. AD  {'start': 1, 'stop': 100, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 95 BC {'start': None, 'stop': None, 'exact': -95, 'or': None, 'type': 'exact', 'era': 'BC'}
 Bulis {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 1st c. BC {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 Aigina {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Nemea {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 undated {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 undated {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IMyl 151 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 5th c. AD {'start': 401, 'stop': 500, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
BCH 1890, 97-99, no. 4 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Heliopolis (Ba‘albek) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 MAMA 8.29 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 reign of Hadrian {'start': 117, 'stop': 138, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p0jrrjbntfj'}
 IK 26,27d {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Rom. Imp. period? (Fır.)  {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'certainty': '?', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
 2nd c. AD  {'start': 101, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 SEG 30.841 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
ITral 21 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 117-138 AD  {'start': 117, 'stop': 138, 'exact': None, 'or': None, 'type': 'range', 'era': 'AD'}
 Christian period  {'start': 1, 'stop': 2000, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'Vojtech', 'notes': nan, 'link': nan}
 IG II² 11759 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 beg. 3rd c. AD {'start': 201, 'stop': 211, 'exact': None, 'or': None, 'type': 'range+cent+beg', 'era': 'AD'}
 229/30 or 230/1 AD  {'start': 229, 'stop': 230, 'exact': None, 'or': None, 'type': 'range', 'era': 'AD'}
 end 1st c. BC  {'start': -11, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent+end', 'era': 'BC'}
 ca. 500-450 BC  {'start': -505, 'stop': -445, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 Athens {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 2nd/3rd c. AD  {'start': 101, 'stop': 300, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 210-175 BC  {'start': -210, 'stop': -175, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 3rd/4th c. AD  {'start': 201, 'stop': 400, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 ca. 330-300 BC {'start': -333, 'stop': -297, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 ca. 180-150 BC  {'start': -183, 'stop': -147, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 ca. 150 BC {'start': -155, 'stop': -145, 'exact': None, 'or': None, 'type': 'exact+ca', 'era': 'BC'}
 4th c. BC  {'start': -400, 'stop': -301, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 4th (or 5th?) c. AD  {'start': 301, 'stop': 500, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD', 'certainty': '?'}
 3rd c. AD {'start': 201, 'stop': 300, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 Saatsoglou-Paliadele, Epitaphia mnemeia (1984) 237, 61 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 after 145 BC  {'start': -145, 'stop': None, 'exact': None, 'or': None, 'type': 'post', 'era': 'BC'}
 350-250 BC  {'start': -350, 'stop': -250, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 late 3rd-mid. 2nd c. BC  {'start': -136, 'stop': -116, 'exact': None, 'or': None, 'type': 'range+cent+late+middle', 'era': 'BC'}
 ca. 475-450 BC  {'start': -477, 'stop': -448, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 Byzantine period  {'start': 324, 'stop': 1453, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p0m63njtm6w'}
 5th c. AD  {'start': 401, 'stop': 500, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 ca. 270-260 BC  {'start': -271, 'stop': -259, 'exact': None, 'or': None, 'type': 'range+ca', 'era': 'BC'}
 Byzantine period  {'start': 324, 'stop': 1453, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p0m63njtm6w'}
 early 3rd c. BC  {'start': -300, 'stop': -275, 'exact': None, 'or': None, 'type': 'range+cent+early', 'era': 'BC'}
 AD 42 B2 (1987) 601 {'start': None, 'stop': None, 'exact': 42, 'or': None, 'type': 'exact', 'era': 'AD'}
 AD 45.1990[1995].B.42 {'start': None, 'stop': None, 'exact': 45, 'or': None, 'type': 'exact', 'era': 'AD'}
 2nd c. BC  {'start': -200, 'stop': -101, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 Hellenistic period  {'start': -330, 'stop': -30, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p03wskd55sw'}
 3rd c. BC  {'start': -300, 'stop': -201, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 ante 336/5 {'stop': None, 'start': None, 'type': 'range+ante+ante'}
 204/3? {'start': -204, 'stop': -203, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC', 'certainty': '?'}
 med. s. III a. {'start': -255, 'stop': -246, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 IG II² 1773a Add. (pt. 2.2 p. 814) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 [s. II/III p.] {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
Att. {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 27 a.-14 p. {'start': -27, 'stop': '14', 'exact': 27, 'or': None, 'type': 'exact', 'era': 'AD'}
Att. {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 fin. s. II p. {'start': 190, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent+end', 'era': 'AD'}
 ante med. s. I a. {'stop': -55, 'start': None, 'type': 'range+cent+middle+ante'}
 non ante med. s. II p. {'start': 145, 'stop': None, 'type': 'range+cent+middle+post'}
 med. s. IV a. {'start': -355, 'stop': -346, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 s. II a. {'start': -200, 'stop': -101, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 med. s. IV a. {'start': -355, 'stop': -346, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 aet. Rom. {'start': -146, 'stop': 324, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': nan, 'notes': nan, 'link': nan}
 aet. imp. {'start': -31, 'stop': 410, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p08m57hqcc5'}
 s. I a. {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 s. I a. {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 aet. Rom. {'start': -146, 'stop': 324, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'BC/AD', 'source': nan, 'notes': nan, 'link': nan}
 s. I p. {'start': 1, 'stop': 100, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 post med. s. IV {'start': -346, 'stop': None, 'type': 'range+cent+middle+post'}
 IG II² 10531a Add. (pt. 3.2 p. 886) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 s. III a. {'start': -300, 'stop': -201, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 s. II p. {'start': 101, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 s. IV a. {'start': -400, 'stop': -301, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 ante med. s. IV a. {'stop': -355, 'start': None, 'type': 'range+cent+middle+ante'}
 med. s. IV a. {'start': -355, 'stop': -346, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 IG XIV 1412 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 cf. IGUR IV, p. 162, 862 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 GVI 184 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 73/4 AD {'start': 73, 'stop': 74, 'exact': None, 'or': None, 'type': 'range', 'era': 'AD'}
 reign of Claudius {'start': 41, 'stop': 54, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p0jrrjb8spw'}
IDid 484 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IDid 411 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
ITral 102 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 McCabe 0351 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 2nd c. AD  {'start': 101, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 244-221 BC {'start': -244, 'stop': -221, 'exact': None, 'or': None, 'type': 'range', 'era': 'BC'}
 Anth.Gr. III Nr.1 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 5th c. AD  {'start': 401, 'stop': 500, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
Philippopolis (Plovdiv) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 SEG 3.515 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 CIL III 395=7076 (2) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
IEph 3414 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 1st c. BC  {'start': -100, 'stop': -1, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 reign of Ant. Pius  {'start': 138, 'stop': 161, 'exact': None, 'or': None, 'type': 'range+period', 'era': 'AD', 'source': 'PeriodO', 'notes': nan, 'link': 'http://n2t.net/ark:/99152/p06c6g3drk4'}
 1st/2nd c. AD {'start': 1, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 late 6th c. BC  {'start': -526, 'stop': -501, 'exact': None, 'or': None, 'type': 'range+cent+late', 'era': 'BC'}
 ca. 460 BC  {'start': -465, 'stop': -455, 'exact': None, 'or': None, 'type': 'exact+ca', 'era': 'BC'}
 Pachoras--Phthouris (Faras) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 155 AD  {'start': None, 'stop': None, 'exact': 155, 'or': None, 'type': 'exact', 'era': 'AD'}
 IosPE IV 60 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 med. s. V a. {'start': -455, 'stop': -446, 'exact': None, 'or': None, 'type': 'range+cent+middle', 'era': 'BC'}
 fin. s. V/VI p. {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Termessos (Güllük Dağı) {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 Termessos (Güllük Dağı): Karaman Çay {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 ca. 120 AD {'start': 115, 'stop': 125, 'exact': None, 'or': None, 'type': 'exact+ca', 'era': 'AD'}
 OGIS 2.535, IGR 3.316 {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 CIG 3899 [1] {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 undated {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 5th/6th c. AD {'start': 401, 'stop': 600, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 undated {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 3rd c. BC {'start': -300, 'stop': -201, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'BC'}
 undated {'start': None, 'stop': None, 'exact': None, 'or': None, 'type': 'unknown', 'era': None}
 2nd c. AD  {'start': 101, 'stop': 200, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}
 2nd/3rd c. AD {'start': 101, 'stop': 300, 'exact': None, 'or': None, 'type': 'range+cent', 'era': 'AD'}

In [0]:
PHI_list_of_dict = []
for inscription_date_tuple in list(zip(PHI_by_500["tildeinfo"].tolist(), PHI_by_500["PHI_ID"].tolist(),  PHI_by_500["raw_date"].tolist())):
  dating = date_extractor(inscription_date_tuple[2])
  data_dict = {"tildeinfo": inscription_date_tuple[0], "PHI_ID" : inscription_date_tuple[1], "raw_date" : inscription_date_tuple[2]}
  data_dict.update(dating)
  PHI_list_of_dict.append(data_dict)

In [0]:
PHI_by_500_dates_v6 = pd.DataFrame(PHI_list_of_dict)
PHI_by_500_dates_v6.head(5)

                           tildeinfo  ...  certainty
0                           IStr 427  ...        NaN
1  Pont. — Amasia — Rom. Imp. period  ...        NaN
2      Att. — Athens: Agora — 220/19  ...        NaN
3                             Thasos  ...        NaN
4                    Eg. — el-Boueib  ...        NaN

[5 rows x 13 columns]

In [0]:
set_with_dataframe(PHI_overview.add_worksheet("PHI_by_500_dates_v6", 1,1), PHI_by_500_dates_v6)

# Match "/" for individual dates

In [0]:
def match_or(datation):
  match = re.search(r'(\d+)(\/)(\d+)', str(datation), flags=re.IGNORECASE)
  if match != None:
      date1 = match.groups()[0]
      date2 = match.groups()[2]
      len_diff = len(date1) - len(date2)
      if len_diff > 0:
        date2 = date1[:len_diff] + date2
      date1 = int(date1)
      date2 = int(date2)
      if "AD" not in datation:
        date1 = int(date1) * -1
        date2 = {int(date2) * -1
      return {"exact" : date1, "or": date2, "type" : "or"}
  else:
      return {"type" : "unknown"}

In [0]:
ors = PHI_by_500[PHI_by_500["raw_date"].str.contains(r'(\d+)(\/)(\d+)')]["raw_date"].tolist()
print(ors)

[' 220/19', ' 12/1 BC', ' 116/5 BC', ' 229/30 or 230/1 AD ', ' ante 336/5', ' 204/3?', ' 73/4 AD', ' ca. 163/2 BC', ' 128/127 BC ', ' shortly after 208/7 BC (or 207/6) ', ' 154/5 AD', ' 66/7 AD']

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [0]:
# example/testing
for our_or in ors:
  print({our_or: match_or(our_or)})

{' 220/19': {'exact': -220, 'or': -219, 'type': 'or'}}
{' 12/1 BC': {'exact': -12, 'or': -11, 'type': 'or'}}
{' 116/5 BC': {'exact': -116, 'or': -115, 'type': 'or'}}
{' 229/30 or 230/1 AD ': {'exact': 229, 'or': 230, 'type': 'or'}}
{' ante 336/5': {'exact': -336, 'or': -335, 'type': 'or'}}
{' 204/3?': {'exact': -204, 'or': -203, 'type': 'or'}}
{' 73/4 AD': {'exact': 73, 'or': 74, 'type': 'or'}}
{' ca. 163/2 BC': {'exact': -163, 'or': -162, 'type': 'or'}}
{' 128/127 BC ': {'exact': -128, 'or': -127, 'type': 'or'}}
{' shortly after 208/7 BC (or 207/6) ': {'exact': -208, 'or': -207, 'type': 'or'}}
{' 154/5 AD': {'exact': 154, 'or': 155, 'type': 'or'}}
{' 66/7 AD': {'exact': 66, 'or': 67, 'type': 'or'}}

In [0]:
ors = PHI_by_500[PHI_by_500["raw_date"].str.contains("(\d+)(\/)(\d+)")]["raw_date"].tolist()
print(ors)

[' 220/19', ' 12/1 BC', ' 116/5 BC', ' 229/30 or 230/1 AD ', ' ante 336/5', ' 204/3?', ' 73/4 AD', ' ca. 163/2 BC', ' 128/127 BC ', ' shortly after 208/7 BC (or 207/6) ', ' 154/5 AD', ' 66/7 AD']

/usr/local/lib/python3.6/dist-packages/pandas/core/strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# Under development

In [0]:
PHI_by_500[PHI_by_500["raw_date"].str.contains("/")]

                                                      URL  ...                             raw_date
1260    /text/231001?location=1365&patt=&bookid=394&of...  ...                               220/19
7001    /text/298501?location=1237&patt=&bookid=735&of...  ...                        2nd/3rd c. AD
15498   /text/243501?location=1498&patt=&bookid=474&of...  ...                              12/1 BC
16567   /text/299501?location=1237&patt=&bookid=737&of...  ...                       2nd/3rd c. AD
24698   /text/64501?location=915&patt=&bookid=1&offset...  ...                             116/5 BC
35543   /text/217001?location=1497&patt=&bookid=362&of...  ...                       3rd/2nd c. BC?
38001   /text/228501?location=1497&patt=&bookid=389&of...  ...                        6th/5th c. BC
38501   /text/229001?location=1497&patt=&bookid=389&of...  ...                        6th/5th c. BC
58576   /text/291501?location=1&patt=&bookid=172&offse...  ...                  229/30 or 230/1 AD
60698   /text/152001?location=1&patt=&bookid=172&offse...  ...                       2nd/3rd c. AD
62919   /text/226501?location=1&patt=&bookid=172&offse...  ...                       3rd/4th c. AD
88162   /text/2501?location=1365&patt=&bookid=5&offset...  ...                           ante 336/5
88662   /text/3001?location=1365&patt=&bookid=5&offset...  ...                               204/3?
90162   /text/4501?location=1365&patt=&bookid=5&offset...  ...                       [s. II/III p.]
103790  /text/242501?location=1498&patt=&bookid=469&of...  ...                              73/4 AD
113220  /text/237501?location=1&patt=&bookid=332&offse...  ...                        1st/2nd c. AD
118743  /text/234001?location=1365&patt=&bookid=400&of...  ...                      fin. s. V/VI p.
121772  /text/172501?location=12&patt=&bookid=197&offs...  ...                        5th/6th c. AD
125947  /text/138001?location=1311&patt=&bookid=14&off...  ...                        2nd/3rd c. AD
129476  /text/43501?location=1&patt=&bookid=9&offset=7...  ...                         ca. 163/2 BC
141613  /text/82001?location=6&patt=&bookid=25&offset=...  ...                        3rd/2nd c. BC
149439  /text/81501?location=1643&patt=&bookid=24&offs...  ...                        1st/2nd c. AD
156116  /text/138501?location=1311&patt=&bookid=15&off...  ...                       2nd/3rd c. AD
156459  /text/238501?location=1316&patt=&bookid=445&of...  ...                          128/127 BC
159200  /text/167501?location=941&patt=&bookid=195&off...  ...                       2nd/3rd c. AD
160743  /text/201001?location=1362&patt=&bookid=293&of...  ...                        2nd/1st c. BC
163132  /text/29001?location=233&patt=&bookid=7&offset...  ...                        1st/2nd c. AD
171514  /text/178501?location=1308&patt=&bookid=219&of...  ...                      3rd/4th c. AD?
179727  /text/298001?location=1237&patt=&bookid=734&of...  ...                        2nd/3rd c. AD
183986  /text/194001?location=21&patt=&bookid=279&offs...  ...                        1st/2nd c. AD
193690  /text/290001?location=14&patt=&bookid=717&offs...  ...        Laurent, Corpus V 357bis/1702
193960  /text/152501?location=1311&patt=&bookid=153&of...  ...   shortly after 208/7 BC (or 207/6)
199352  /text/263501?location=1223&patt=&bookid=534&of...  ...                             154/5 AD
199852  /text/264001?location=1223&patt=&bookid=534&of...  ...                              66/7 AD
206309  /text/213501?location=1002&patt=&bookid=321&of...  ...                 1st c. BC/1st c. AD
213826  /text/299001?location=1237&patt=&bookid=736&of...  ...                        2nd/3rd c. AD

[36 rows x 13 columns]

In [0]:
re.match("")

In [0]:
set_with_dataframe(PHI_overview.add_worksheet("PHI_by_500_dates_v1", 1, 1), PHI_by_500)